//
//  Secrets.example.xcconfig
//  Shelfmark
//
//  Created by Fernando Buenrostro on 12/03/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BOOKS_API_KEY = YOUR_API_KEY_HERE

